on: [push, pull_request_target]
name: Twitter, together!
jobs:
  preview:
    name: Preview
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request_target'
    permissions:
      pull-requests: write
    steps:
      - name: checkout pull request
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}    
      - name: Validate Tweets
        uses: IstoraMandiri/twitter-together@etc-dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  setup:
    name: Setup parameters for Tweet
    runs on: ubuntu-latest
    steps:
      - name: Download lasttweettimestamp
          # Retrieve last Tweet's timestamp artifact
        uses: actions/download-artifact@v1
        with:
          name: lasttweettimestamp
      - name: Read lasttweettimestamp
          # Read the lasttweettimestamp file and store it in a variable
          run: export LAST_TWEET_TIMESTAMP=$(cat lasttweettimestamp.txt)
      - name: set CURRENT_TIME variable
          # Get current date and time using date function
        uses: ajilraju/actions-date@v0.1
        with:
          args: date -u +%s
        run: CURRENT_TIME=$(date -u +%s)
      - name: Compare CURRENT_TIME and LAST_TWEET_TIMESTAMP
        uses: ajilraju/actions-date@v0.1
        with:
          args: date -u +%s
        run: # Calculate the difference between CURRENT_TIME and LAST_TWEET_TIMESTAMP in minutes
            DIFFERENCE=$(($(date -d "$CURRENT_TIME" +%s) - $(date -d "$LAST_TWEET_TIMESTAMP" +%s)) / 60)
            if [ $DIFFERENCE -lt 180 ]; then
              echo "Waiting for time between tweets to exceed 180 minutes..."
              # Sleep for 60 seconds
              sleep 60
              # Reset CuRRENT_TIME variable
              CURRENT_TIME=$(date -u +%s)
              # Recheck the difference
              DIFFERENCE=$(($(date -d "$CURRENT_TIME" +%s) - $(date -d "$LAST_TWEET_TIMESTAMP" +%s)) / 60)
            fi
            # Continue execution when the difference is greater than 180 minutes
            echo "Tweeting"
  tweet:
    name: Tweet
    runs-on: ubuntu-latest
    requires: setup
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: checkout main
        uses: actions/checkout@v3
      - name: Tweet
        uses: IstoraMandiri/twitter-together@etc-dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
          TWITTER_API_KEY: ${{ secrets.TWITTER_API_KEY }}
          TWITTER_API_SECRET_KEY: ${{ secrets.TWITTER_API_SECRET_KEY }}
  timestamp: 
    name: Store-timestamp and end
    runs-on: ubuntu-latest
    requires: tweet
    steps:
      - name: Create new timestamp file
      uses: ajilraju/actions-date@v0.1
        with:
          args: date -u +%s
      # Create file containing new Tweet's timetamnp after successful Tweet
      run: echo $(date -d "$CURRENT_TIME" +%s) > lasttweettimestamp.txt
      - name: Upload timestamp
      # Store new timestamp as artifact
      uses: actions/upload-artifact@v1
         with:
          name: lasttweettimestamp
          path: lasttweettimestamp.txt
      - name: Report success
      # Execution success messaging
      run: echo "Tweet successful with timestamp " $(date -u -d "$CURRENT_TIME")"."