on: [push, pull_request_target]
name: Twitter, together!
jobs:
  preview:
    name: Preview
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request_target'
    permissions:
      pull-requests: write
    steps:
      - name: checkout pull request
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}    
      - name: Validate Tweets
        uses: IstoraMandiri/twitter-together@etc-dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  setup:
    name: Setup parameters for Tweet
    runs on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Activate files
      # Load archive of timestamp files
        uses: actions/download-artifact@v2
        with:
          name: timestamp
          path: lasttweettimestamp.txt
      - name: Cooldown timer
      # Create CURRENT_TIME variable and assign value
      uses: ajilraju/actions-date@v0.1
      with:
        args: date -u +%s
        run: export CURRENT_TIME=$(date -u +%s)
      # Read the lasttweettimestamp.txt file and store value in LAST_TWEET_TIMESTAMP variable
        run: export LAST_TWEET_TIMESTAMP=$(cat lasttweettimestamp.txt)
      # Rename lasttweettimestamp.txt to lasttweettimestamp.txt.old
        run: mv lasttweettimestamp.txt lasttweettimestamp.txt.old
      # Calculate DIFFERENCE variable in minutes
        run: export DIFFERENCE=$(($(date -d "$CURRENT_TIME" +%s) - $(date -d "$LAST_TWEET_TIMESTAMP" +%s)) / 60)
      # Wait until 180 minutes have elapsed since last Tweet
        run: |
             while [ $DIFFERENCE -lt 180 ]; do
             echo "Waiting for time between tweets to exceed 180 minutes... Currently" $DIFFERENCE "minutes have elapsed."
          # Sleep for 60 seconds
             sleep 60
          # Reset CuRRENT_TIME variable
             export CURRENT_TIME=$(date -u +%s)
          # Recheck the difference
             export DIFFERENCE=$(($(date -d "$CURRENT_TIME" +%s) - $(date -d "$LAST_TWEET_TIMESTAMP" +%s)) / 60)
      - name: Complete setup
      # Create new timestamp file
        run: echo $CURRENT_TIME > lasttweettimestamp.txt
      # Upload new timestamp file
        uses: actions/upload-artifact@v2
        with:
          name: timestamp
          path: lasttweettimestamp.txt
      - name: Report success
      # Print to console tweeting success messaging
        run: echo "Tweeting with timestamp " $(date -u -d "$CURRENT_TIME")"."
  tweet:
    name: Tweet
    runs-on: ubuntu-latest
    requires: setup
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: checkout main
        uses: actions/checkout@v3
      - name: Tweet
        uses: IstoraMandiri/twitter-together@etc-dev
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
          TWITTER_API_KEY: ${{ secrets.TWITTER_API_KEY }}
          TWITTER_API_SECRET_KEY: ${{ secrets.TWITTER_API_SECRET_KEY }}